:root {
    --bg-color: #ffffff;
    --link-color: #ff9f1c;
    --link-color2: #ffbf69;
    --font-paragrafo: 1rem;
    --font-h1: 2rem;
    --font-h2: 1.5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

/*navbar*/

.logo {
    font-family: "Leckerli One", cursive;
    font-weight: 100;
}

header {
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    font-weight: 400;
    height: 4rem;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    z-index: 1000;
    position: sticky;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {

    color: var(--link-color);

}

ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    align-items: center;
    font-style: none;

}

.contatact-buttom {
    height: 2rem;
    width: 7rem;
    border-width: 0.10rem;
    border-radius: 0.2rem;
    border: none;
    background-color: var(--link-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.contatact-buttom:hover {
    background-color: #ffbf69;
}

.contato:hover {
    background-color: #ffbf69;
}

/*end navbar*/

/*headline section*/
#first {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbf69;
    z-index: 1;
}



.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100vw;
    overflow: hidden;
}

.headline-box {
    height: 22em;
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

}

.headline {
    font-size: 3rem;
    font-family: "Leckerli One", cursive;
}

.img-container {
    height: 100rem;

}

.headline-img {
    height: 90vh;
    right: 15rem;
    top: 2.5rem;
    animation: pizzagirando 30s infinite linear;
    position: absolute;
}

@keyframes pizzagirando {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.head-btn {
    cursor: pointer;
    height: 2rem;
    width: 7rem;
    border-radius: 0.2rem;
    border: none;
    background: #ffffff;
    font-weight: 700;
    box-shadow: 2px 2px 8px rgba(165, 165, 165, 0.5);
    transition: 0.3s;
    position: absolute;
    right: 7.5rem;

}

.head-btn:hover {
    color: #ffffff;
    background-color: #000000;
}

/*end headline section*/

/*promotion section*/

#promotion {
    height: 50vh;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#promotion .bg {
    background-image: url(images/wood.jpg);
    z-index: -1;
    height: 100vh;
    width: 100vw;
    opacity: 5%;
    position: sticky;
}

.promo-content {
    z-index: 100;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: #ff9f1c;
    align-items: center;
    transition: 1s ease-in-out;
}

.promo-content:hover {
    zoom: 115%;
}


.promo-content::before {
    content: '';
    width: 10rem;
    height: 0.10rem;
    background-color: #ff9f1c;

}



.promo-content::after {
    content: '';
    width: 10rem;
    height: 0.10rem;
    background-color: #ff9f1c;
}

.promo-title {
    color: #ffffff;
    z-index: 4;
    font-size: 3rem;
}

.promo {
    color: #ffffff;
}

.price {
    color: red;
}

.promo-btn {
    cursor: pointer;
    height: 2rem;
    width: 7rem;
    border-radius: 0.2rem;
    border: none;
    background: #ffffff;
    font-weight: 700;
    box-shadow: 2px 2px 8px rgba(165, 165, 165, 0.5);
    transition: 0.3s;
}

.promo-btn:hover {
    background-color: var(--link-color);
}

/*end promotion section*/

/*product section*/

#product {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    position: relative;
}

#product h1 {
    position: absolute;
    font-size: var(--font-h1);
    top: 5rem;
    border-color: #ff9f1c;
    border-left: white;
    border-right: #ffffff;
    border-width: 0.1rem;
    border-style: solid;
    width: 30vw;
    text-align: center;
    color: #000000;
}

.product-card {
    height: 25rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    transition: ease-in-out 0.5s;
}


.product-card:hover {
    box-shadow: 2px 2px 8px rgba(165, 165, 165, 0.5);
}


.product-img {
    display: flex;
    justify-content: center;

}

.product-card img {
    height: 10rem;
    width: auto;
}

.product-content h3,
p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

}

.product-content p {
    color: rgb(43, 43, 43);

}

.product-content {
    position: relative;
}

.product-content::after {
    content: '';
    height: 0.1rem;
    width: 10rem;
    background-color: #ff9f1c;
    position: absolute;
    transform: translateX(40%);
    top: -2%;

}

.product-container {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;

}



/*end product section*/

/*contact section*/

#contact {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.divLabel {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-color: #000000;
    border: solid;
    border-width: 0.1rem;
    width: 30rem;
    height: 35rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.form-input {
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: rgb(232, 232, 232);
    border: none;
}

.form-input-msg {
    width: 15rem;
    height: 5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: rgb(232, 232, 232);
    border: none;
}

.form-btn {
    cursor: pointer;
    height: 2rem;
    width: 7rem;
    border-radius: 0.2rem;
    border: none;
    background: black;
    font-weight: 700;
    box-shadow: 2px 2px 8px rgba(165, 165, 165, 0.5);
    transition: 0.3s;
    color: var(--link-color);
}

.form-btn:hover {
    background-color: var(--link-color);
    color: #000000;
}

/*end contact section*/

/*footer section*/
#footer {
    height: 20rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer-img {
    height: 2rem;
    color: #ffffff;
    display: flex;


}

.footer-contact {
    color: white;
}

/*end footer section*/

@media (max-width:1264px) {

    .headline-img {
        height: 60vh;
        right: 15rem;
        top: 10rem;
        animation: pizzagirando 30s infinite linear;
        position: absolute;
    }

}

@media (max-width:1080px) {
    .headline-img {
        height: 50vh;
        right: 14rem;
        top: 12rem;
        animation: pizzagirando 30s infinite linear;
        position: absolute;
    }
}

@media (max-width:1000px) {
    .headline-img {
        height: 50vh;
        right: 5rem;
        top: 12rem;
        animation: pizzagirando 30s infinite linear;
        position: absolute;
    }

}

@media (max-width:865px) {
    .headline-img {
        height: 50vh;
        right: 1rem;
        top: 12rem;
        animation: pizzagirando 30s infinite linear;
        position: absolute;
    }
}

@media (max-width: 795px) {
    .headline-img {
        display: none;
        height: 50vh;
        right: 1rem;
        top: 12rem;
        animation: pizzagirando 30s infinite linear;
        position: absolute;
    }

}

@media (max-width: 586px) {
    .head-container {
        display: flex;
        padding-bottom: 25rem;
        align-items: center;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 10rem;
        width: 100vw;
        overflow: hidden;
    }
}